.arrow-icon,
.benefits-body__btn,
.copy-right,
.footer-head__icon,
.footer-head__items,
.footer-head__wrapper,
.img-notch__shape,
.menu,
.nav,
.newsletter,
.newsletter__right,
.questions-body,
.questions-body__top,
.quick-links,
.row,
.section-icon,
.service__body,
.service__left,
.service__right,
.service__top,
.show-icon,
.status-top__btn,
.status-top__items,
.status-top__left,
.status-top__right,
.status-top__shape,
.status-top__wrapper,
.testimonials-body,
.works-body__details,
.works-body__left,
.works-body__top,
.works-lable__item,
.works-team,
.works-team__members,
.works-techs__items {
  display: -webkit-box;
  display: -ms-flexbox
}

.menu,
.nav,
.row {
  display: flex
}

.arrow-icon,
.menu__item,
.nav__toggle-icon,
.testimonials .all-testimonials .arrow-icon,
body {
  background-color: var(--dark-color)
}

.menu__item:last-child .menu__link,
.section-btn {
  color: var(--dark-color)
}

.menu__link,
.section-btn,
.status-top__item,
.status-top__legend,
.status-top__link,
.status-top__title {
  text-transform: uppercase
}

.service__body,
.status-top__left,
.status-top__right,
.testimonials-body,
.works-body__left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal
}

@font-face {
  font-family: "flex-rg";
  src: url("fonts/RobotoFlex-VariableFont_GRAD.ttf") format("truetype");
  font-weight: 400
}

@font-face {
  font-family: "flex-md";
  src: url("fonts/RobotoFlex-VariableFont_GRAD.ttf") format("truetype");
  font-weight: 500
}

@font-face {
  font-family: "flex-sm";
  src: url("fonts/RobotoFlex-VariableFont_GRAD.ttf") format("truetype");
  font-weight: 600
}

@font-face {
  font-family: "flex-bld";
  src: url("fonts/RobotoFlex-VariableFont_GRAD.ttf") format("truetype");
  font-weight: 700
}

@font-face {
  font-family: "mono-rg";
  src: url("fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 400
}

@font-face {
  font-family: "mono-md";
  src: url("fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 500
}

@font-face {
  font-family: "mono-bld";
  src: url("fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 700
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto
}

.row {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
  row-gap: 10px
}

.row>* {
  padding-right: 5px;
  padding-left: 5px
}

.col {
  max-width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.col-0 {
  width: 0%
}

.col-1 {
  width: 8.333333%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}

.col-10,
.col-11,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
  -webkit-box-flex: 0
}

.col-2 {
  width: 16.666666%;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}

.col-10,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
  -ms-flex: 0 0 auto
}

.col-3 {
  width: 25%;
  flex: 0 0 auto
}

.col-4,
.col-5 {
  flex: 0 0 auto
}

.col-4 {
  width: 33.333333%
}

.col-5 {
  width: 41.666666%
}

.col-6,
.col-7 {
  flex: 0 0 auto
}

.col-6 {
  width: 50%
}

.col-7 {
  width: 58.333333%
}

.col-8,
.col-9 {
  flex: 0 0 auto
}

.col-8 {
  width: 66.666666%
}

.col-9 {
  width: 75%
}

.col-10 {
  width: 83.333333%;
  flex: 0 0 auto
}

.col-11 {
  width: 91.666666%;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}

.col-12 {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}

@media (min-width:576px) {
  .container {
    width: 95%
  }

  .col-sm-1 {
    width: 8.333333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-sm-2 {
    width: 16.666666%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-sm-3 {
    width: 25%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-sm-4 {
    width: 33.333333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-sm-5 {
    width: 41.666666%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-sm-6 {
    width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-sm-7 {
    width: 58.333333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-sm-8 {
    width: 66.666666%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-sm-9 {
    width: 75%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-sm-10 {
    width: 83.333333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-sm-11 {
    width: 91.666666%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-sm-12 {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }
}

@media (min-width:768px) {
  .container {
    width: 97%
  }

  .col-md-1 {
    width: 8.333333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-md-2 {
    width: 16.666666%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-md-3 {
    width: 25%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-md-4 {
    width: 33.333333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-md-5 {
    width: 41.666666%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-md-6 {
    width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-md-7 {
    width: 58.333333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-md-8 {
    width: 66.666666%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-md-9 {
    width: 75%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-md-10 {
    width: 83.333333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-md-11 {
    width: 91.666666%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-md-12 {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }
}

@media (min-width:992px) {
  .container {
    width: 97%
  }

  .col-lg-1 {
    width: 8.333333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-lg-2 {
    width: 16.666666%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-lg-3 {
    width: 25%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-lg-4 {
    width: 33.333333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-lg-5 {
    width: 41.666666%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-lg-6 {
    width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-lg-7 {
    width: 58.333333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-lg-8 {
    width: 66.666666%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-lg-9 {
    width: 75%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-lg-10 {
    width: 83.333333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-lg-11 {
    width: 91.666666%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-lg-12 {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }
}

@media (min-width:1200px) {
  .container {
    width: 97%
  }

  .col-xl-1 {
    width: 8.333333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-xl-2 {
    width: 16.666666%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-xl-3 {
    width: 25%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-xl-4 {
    width: 33.333333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-xl-5 {
    width: 41.666666%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-xl-6 {
    width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-xl-7 {
    width: 58.333333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-xl-8 {
    width: 66.666666%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-xl-9 {
    width: 75%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-xl-10 {
    width: 83.333333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-xl-11 {
    width: 91.666666%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-xl-12 {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }
}

@media (min-width:1500px) {
  .container {
    width: 97%
  }

  .col-xxl-1 {
    width: 8.333333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-xxl-2 {
    width: 16.666666%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-xxl-3 {
    width: 25%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-xxl-4 {
    width: 33.333333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-xxl-5 {
    width: 41.666666%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-xxl-6 {
    width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-xxl-7 {
    width: 58.333333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-xxl-8 {
    width: 66.666666%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-xxl-9 {
    width: 75%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-xxl-10 {
    width: 83.333333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-xxl-11 {
    width: 91.666666%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }

  .col-xxl-12 {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
  }
}

.arrow-icon,
.img-notch__shape,
.section-icon,
.service__left,
.service__top,
.status-top__items,
.works-body__details,
.works-body__top {
  -webkit-box-align: center;
  display: flex
}

:root {
  --primary-color: #CE7D63;
  --section-bg-color: #1A1A1A;
  --title-color: #F9EFEC;
  --text-color: #B3B3B2;
  --dark-color: #0F0F0F
}

a {
  text-decoration: none
}

.radius-12 {
  border-radius: 1.2rem
}

.radius-14 {
  border-radius: 1.4rem
}

.radius-16 {
  border-radius: 1.6rem
}

.radius-20 {
  border-radius: 2rem
}

.arrow-icon {
  border-radius: 100%;
  width: 4.4rem;
  height: 4.4rem;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: .1rem solid #262626
}

.nav,
.section-icon {
  -ms-flex-align: center
}

.arrow-icon__svg {
  width: 1.4rem
}

.section-icon {
  width: 5rem;
  height: 5rem;
  background-color: #1f1f1f;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: .1rem solid #333;
  border-radius: 1.2rem
}

.menu__item:last-child,
.section-btn {
  background-color: var(--primary-color)
}

.menu,
.nav {
  -webkit-box-align: center
}

.section-icon__svg {
  width: 2.5rem;
  height: 2.5rem
}

.section-btn {
  width: 100%;
  border-radius: .8rem;
  outline: 0;
  border: none;
  font-family: flex-md;
  font-size: 1.4rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  color: var(--text-color);
  font-family: flex-rg, Arial, Helvetica, sans-serif;
  padding-top: 2rem;
  padding-bottom: 2rem
}

.nav {
  background-color: var(--section-bg-color);
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.8rem 1.8rem 1.8rem 3.5rem;
  color: #81807e
}

.menu {
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1.3rem
}

.menu__item {
  border-radius: 1.2rem;
  padding: 1.2rem 2rem
}

.menu__link {
  font-family: mono-md;
  color: inherit
}

.menu__item--active {
  color: #e7beb1
}

.nav__toggle-icon {
  display: none;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.mobile-wrapper .nav__logo,
.nav__toggle-line,
.show-icon__line,
.status-top__icon {
  position: relative
}

.nav__toggle-line,
.nav__toggle-line::after,
.nav__toggle-line::before {
  width: 2rem;
  height: .16rem;
  background-color: #fff;
  border-radius: 2rem;
  -webkit-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in
}

.mobile-menu__item,
.mobile-menu__link,
.mobile-menu__link::before,
.mobile-wrapper,
.question-body__item,
.question-body__title::before {
  -webkit-transition: 150ms ease-in;
  -o-transition: 150ms ease-in
}

.nav__toggle-line::after,
.nav__toggle-line::before {
  content: "";
  display: block;
  position: absolute;
  right: 0
}

.nav__toggle-line::before {
  top: -.6rem
}

.nav__toggle-line::after {
  bottom: -.6rem;
  width: 1rem
}

.nav__toggle-line--clicked .nav__toggle-line::before {
  width: 1rem
}

.nav__toggle-line--clicked .nav__toggle-line::after {
  width: 2rem
}

.mobile-wrapper {
  position: fixed;
  top: 0;
  left: -25rem;
  bottom: 0;
  z-index: 100;
  background-color: var(--primary-color);
  width: 25rem;
  padding: 3rem 2rem;
  transition: 150ms ease-in
}

.nav__close-icon {
  position: absolute;
  top: -.2rem;
  right: -.2rem;
  bottom: 0;
  width: 3rem;
  height: 3rem
}

.section-line {
  background-color: var(--title-color);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  width: 100%;
  height: .2rem;
  position: relative
}

.section-line::after,
.section-line::before {
  content: "";
  display: block;
  background-color: var(--title-color);
  width: 2.5rem;
  height: .15rem;
  position: absolute;
  border-radius: 2rem
}

.section-line::before {
  top: -3.5rem;
  right: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.section-line::after {
  top: -3.5rem;
  right: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.mobile-menu {
  margin-top: 2.5rem;
  color: #ffdab9
}

.mobile-menu__item {
  margin-top: 1rem;
  position: relative;
  transition: 150ms ease-in
}

.mobile-menu__item--active {
  color: var(--dark-color)
}

.mobile-menu__link {
  color: inherit;
  transition: 150ms ease-in;
  position: relative
}

.mobile-menu__link:hover {
  padding-left: 2.4rem
}

.mobile-menu__link::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  width: 0;
  height: .3rem;
  background-color: #ffdab9;
  border-radius: 2rem;
  transition: 150ms ease-in
}

.mobile-menu__link:hover::before {
  width: 1.8rem
}

.footer-body,
.main {
  margin-top: 1rem
}

.status-top__left {
  background-color: var(--section-bg-color);
  padding: 1.5rem;
  height: 100%;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.status-top__wrapper {
  padding: 7rem 2rem 2rem 5rem;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.status-top__btn,
.status-top__shape {
  display: flex;
  -webkit-box-align: center
}

.status-top__title {
  font-family: flex-sm;
  font-size: 6rem;
  color: var(--title-color);
  max-width: 56rem
}

.status-top__btn {
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  right: 12.5rem;
  top: 1.5rem
}

.status-top__item::before,
.status-top__shape {
  border-radius: 100%;
  background-color: var(--primary-color);
  position: absolute
}

.status-top__svg {
  height: 6rem
}

.status-top__shape {
  width: 4.2rem;
  height: 4.2rem;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 1.6rem;
  top: .9rem
}

.status-top__link {
  font-family: flex-md;
  font-size: 2rem;
  color: var(--primary-color)
}

.status-top__description {
  padding-left: 5rem;
  padding-right: 2rem;
  color: #676665;
  max-width: 78rem;
  font-size: 1.4rem
}

.status-top__scroll-animation {
  background-color: var(--dark-color);
  padding: 1.5rem 0;
  overflow-x: hidden
}

.status-top__items {
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: mono-rg;
  white-space: nowrap;
  -webkit-animation: 10.5s linear 1s infinite scroll-banner;
  animation: 10.5s linear 1s infinite scroll-banner
}

@-webkit-keyframes scroll-banner {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }

  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
}

@keyframes scroll-banner {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }

  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
}

.status-top__item {
  color: #676665;
  position: relative;
  margin-right: 3.5rem
}

.status-top__item:last-child {
  margin-right: 0
}

.status-top__item::before {
  content: "";
  display: block;
  width: .7rem;
  height: .7rem;
  top: 0;
  left: -2.2rem;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto
}

.services .arrow-icon,
.status-top__right,
.works .works-body .arrow-icon {
  background-color: #1f1f1f
}

.status-top__right {
  border-radius: 1.2rem;
  height: 100%;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.status-top__picture {
  position: relative;
  height: 100%
}

.status-top__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem
}

.img-notch,
.img-notch__shape {
  border-radius: 100%;
  position: absolute
}

.img-notch {
  width: 9rem;
  height: 9rem;
  top: -1rem;
  right: -1rem;
  background-color: var(--dark-color)
}

.img-notch__svg {
  position: absolute;
  left: .9rem;
  bottom: .9rem;
  width: 6rem;
  height: 7rem
}

.img-notch__shape {
  background-color: var(--primary-color);
  width: 5rem;
  height: 5rem;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 1.6rem;
  right: 1.4rem
}

.all-testimonials,
.all-works,
.benefits-body,
.benefits-head,
.footer-head__scroll-animation,
.footer-social,
.quick-links,
.service,
.services-head,
.status-bottom__wrapper,
.testimonials-body,
.works-body__left,
.works-team {
  background-color: var(--section-bg-color)
}

.img-notch__arrow {
  width: 2.2rem;
  height: 2.2rem
}

.status-top__text-wrapper {
  padding: 2rem
}

.status-top__legend {
  font-family: flex-md;
  font-size: 2rem;
  color: var(--title-color)
}

.status-top__text {
  font-size: 1.4rem;
  margin-top: .2rem
}

.status-bottom {
  margin-top: 1rem;
  border: .2rem solid #1f1f1f;
  text-align: center;
  padding: 1rem
}

.status-bottom__wrapper {
  padding: 2rem 0 .3rem
}

.status-bottom .col-12:last-child .status-bottom__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: .6rem;
  height: 100%;
  padding: 0
}

.status-bottom__link,
.status-bottom__title {
  font-family: mono-md;
  font-size: 1.2rem;
  text-transform: uppercase
}

.status-bottom__link {
  color: inherit;
  font-size: 1.4rem
}

.status-bottom .col-12:nth-child(5) .status-bottom__title {
  text-transform: none
}

.status-bottom__digits {
  font-family: flex-sm;
  color: #da9e8b;
  font-size: 4rem
}

.benefits,
.footer,
.questions,
.services,
.testimonials,
.works {
  margin-top: 9rem
}

.benefits__wrapper,
.services__wrapper,
.testimonials__wrapper {
  border: .2rem solid #1f1f1f;
  border-radius: 2.4rem;
  padding: 1rem
}

.benefits-body,
.benefits-head,
.services-head {
  padding: 3rem
}

.benefits-head__title,
.questions-head__title,
.services-head__title,
.testimonilas-head__title,
.works-head__title {
  font-family: flex-sm;
  font-size: 3.6rem;
  color: var(--title-color);
  text-transform: uppercase
}

.benefits-body__title,
.service__title {
  font-family: flex-md;
  text-transform: uppercase
}

.service__price,
.service__title {
  font-size: 2.5rem
}

.benefits-body {
  height: 100%
}

.benefits-body__title {
  font-size: 2.5rem;
  color: var(--title-color);
  height: 9.6rem
}

.benefits-body__description {
  height: 10rem
}

.benefits-body__btn {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: .8rem;
  margin-top: 2rem
}

.benefits-body__link {
  color: inherit
}

.service {
  padding: 5rem;
  height: 100%
}

.service__top {
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 6.5rem
}

.service__left {
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 1rem
}

.service__title {
  color: var(--title-color)
}

.service__right {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: .8rem
}

.service__link,
.testimonials-head__link,
.works-head__link {
  font-family: mono-md;
  color: var(--text-color);
  text-transform: uppercase
}

.service__price,
.works-body__title {
  font-family: flex-md;
  color: var(--title-color);
  text-transform: uppercase
}

.service__body {
  margin-top: 3rem;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 2rem
}

.services .section-btn {
  display: none;
  margin-top: 5rem
}

.questions-head,
.testimonials-head,
.works-head {
  background-color: var(--section-bg-color);
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.questions-head__icon,
.testimonials-body__customer,
.testimonials-head__icon,
.works-body__icon,
.works-head__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1rem
}

.questions .questions-head .arrow-icon,
.testimonials .arrow-icon,
.works .works-head .arrow-icon {
  background-color: inherit
}

.works-body {
  margin-top: 1rem;
  border: .2rem solid #1f1f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem
}

.works-body__left {
  padding: 4rem 3rem;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative
}

.works-body__top {
  -ms-flex-align: center;
  align-items: center;
  gap: 4rem
}

.works-body__title {
  font-size: 1.8rem
}

.works-body__details {
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: .5rem
}

.works-body__link {
  color: var(--text-color);
  font-family: mono-md;
  text-transform: uppercase
}

.works-lable__item {
  border-radius: 4.5rem;
  background-color: #1f1f1f;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: .8rem 1.5rem;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.works-lable__item:last-child {
  margin-top: .8rem
}

.works-lable__key {
  font-size: 1.4rem;
  position: relative
}

.works-lable__key::after {
  content: "";
  display: block;
  width: .4rem;
  height: .4rem;
  border-radius: 100%;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  right: -1.1rem;
  bottom: 0;
  margin: auto 0
}

.question-body__title::before,
.question-form__title::before,
.show-icon__line::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0
}

.works-lable__value {
  font-size: 1.4rem;
  font-family: flex-md;
  margin-left: 1.8rem;
  color: #e6e6e6
}

.works-body__description {
  font-size: 1.4rem;
  max-width: 40rem
}

.works-body__middle {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 47rem
}

.works-body__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1.4rem
}

.works-body__right {
  min-width: 0
}

.works-techs {
  background-color: var(--section-bg-color);
  padding: 2rem
}

.works-team__title,
.works-tecks__title {
  font-family: flex-md;
  color: #fff;
  text-transform: uppercase
}

.works-techs__items {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.1rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 2rem
}

.works-team,
.works-team__members {
  display: flex;
  -webkit-box-align: center
}

.works-tecks__item {
  font-family: mono-rg;
  color: #e6e6e6;
  background-color: #1f1f1f;
  border-radius: 4.5rem;
  padding: .8rem 1.5rem;
  font-size: 1.4rem;
  white-space: nowrap
}

.works-team {
  margin-top: 1rem;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.5rem 2rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem
}

.works-team__members {
  -ms-flex-align: center;
  align-items: center;
  gap: .8rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.works-team__member {
  width: 4rem;
  height: 4rem
}

.works-team__img {
  width: 100%;
  height: 100%
}

.works .section-btn {
  margin-top: 1rem;
  height: 5rem
}

.all-testimonials,
.all-works {
  margin-top: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: .5rem;
  padding: 2rem 0;
  display: none
}

.all-testimonials__text,
.all-works__text {
  font-family: mono-md;
  font-size: 1.4rem;
  color: var(--text-color);
  text-transform: uppercase
}

.testimonials .testimonials-body .arrow-icon {
  border-color: #333
}

.testimonials-body {
  overflow-y: hidden;
  height: 100%;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.testimonials-body__top {
  padding: 3rem 3rem 2rem
}

.testimonials-body__title {
  font-family: flex-md;
  color: var(--title-color);
  font-size: 2rem;
  text-transform: uppercase
}

.testimonials-body__description {
  margin-top: 2rem;
  max-width: 27rem
}

.testimonials-body__bottom {
  background-color: #1f1f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem 3rem
}

.testimonials-body__profile {
  width: 5rem;
  height: 5rem
}

.testimonials-body__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.testimonials-body__name {
  font-family: flex-md;
  color: #f3dfd8
}

.testimonials-body__rule {
  font-size: 1.4rem;
  color: #81807e;
  white-space: nowrap
}

.questions-head__link {
  font-family: mono-md;
  color: var(--text-color);
  text-transform: uppercase;
  white-space: nowrap
}

.question-body__title,
.question-form__title {
  color: var(--title-color);
  font-family: flex-md;
  position: relative
}

.questions-body {
  display: flex;
  margin-top: 1rem;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 1rem
}

.questions-body__items {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.question-body__item {
  background-color: var(--section-bg-color);
  padding: 3.5rem;
  margin-top: 1rem;
  transition: 150ms ease-in;
  height: 11rem;
  overflow-y: hidden
}

.question-body__item:first-child {
  margin-top: 0
}

.question-body__item--open {
  height: 19.5rem
}

.questions-body__top {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.question-body__title {
  font-size: 1.8rem
}

.question-body__title::before {
  display: block;
  width: 0;
  height: .1rem;
  background-color: #333;
  bottom: -2rem;
  transition: 150ms ease-in
}

.question-body__title--open::before {
  width: 100%
}

.show-icon {
  width: 4rem;
  height: 4rem;
  background-color: #1f1f1f;
  border: .1rem solid #333;
  border-radius: 100%;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.show-icon__line,
.show-icon__line::before {
  width: 1.2rem;
  height: .2rem;
  background-color: #e7beb1;
  border-radius: 1rem
}

.show-icon__line::before {
  display: block;
  margin: auto;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
  transition: 150ms ease-in
}

.show-icon__line--open::before {
  width: 0
}

.question-body__answer {
  font-size: 1.4rem;
  margin-top: 4rem;
  max-width: 55rem
}

.question-form {
  padding: 4rem;
  background-color: var(--section-bg-color);
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-height: 60rem
}

.question-form__title {
  font-size: 2rem;
  text-transform: uppercase;
  white-space: nowrap
}

.question-form__title::before {
  display: block;
  width: 100%;
  height: .1rem;
  background-color: #333;
  bottom: -3rem
}

.question-form__wrapper {
  margin-top: 6rem
}

.question-form__lable {
  font-family: flex-md;
  color: #f3dfd8;
  display: block;
  margin-top: 2rem;
  text-transform: uppercase
}

.question-form__area,
.question-form__input {
  display: block;
  margin-top: .5rem;
  background-color: var(--dark-color);
  padding: 1.5rem;
  border: none;
  outline: 0;
  border-radius: 1rem;
  color: var(--title-color);
  font-size: 1.6rem;
  width: 100%
}

.question-form__area::-webkit-input-placeholder,
.question-form__input::-webkit-input-placeholder {
  font-family: flex-rg;
  font-size: 1.4rem;
  color: #676665
}

.question-form__area::-moz-placeholder,
.question-form__input::-moz-placeholder {
  font-family: flex-rg;
  font-size: 1.4rem;
  color: #676665
}

.question-form__area:-ms-input-placeholder,
.question-form__input:-ms-input-placeholder {
  font-family: flex-rg;
  font-size: 1.4rem;
  color: #676665
}

.question-form__area::-ms-input-placeholder,
.question-form__input::-ms-input-placeholder {
  font-family: flex-rg;
  font-size: 1.4rem;
  color: #676665
}

.question-form__area::placeholder,
.question-form__input::placeholder {
  font-family: flex-rg;
  font-size: 1.4rem;
  color: #676665
}

.question-form__area {
  resize: none
}

.questions .section-btn {
  margin-top: 3.5rem
}

.copy-right__link:first-child::after,
.footer-head__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto
}

.footer-head__wrapper {
  background-color: var(--primary-color);
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 5.5rem
}

.footer-body__wrapper,
.footer-head__right {
  display: -webkit-box;
  display: -ms-flexbox;
  gap: 1rem
}

.footer-head__title {
  font-family: flex-md;
  font-size: 4.5rem;
  color: var(--dark-color);
  text-transform: uppercase
}

.footer-head__description {
  color: #262626;
  max-width: 92rem;
  font-size: 1.4rem
}

.footer-head__right {
  background-color: var(--dark-color);
  border-radius: 1.2rem;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 18rem;
  height: 5rem
}

.footer-head__link {
  font-family: flex-md;
  color: #f3dfd8;
  text-transform: uppercase;
  white-space: nowrap
}

.footer-head__icon {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.footer-head__svg {
  width: 1.5rem
}

.footer-head__scroll-animation {
  margin-top: 1rem;
  overflow-x: hidden;
  padding: 1.5rem 0
}

.footer-head__items {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  white-space: nowrap;
  -webkit-animation: 14s linear 1s infinite scroll-banner;
  animation: 14s linear 1s infinite scroll-banner
}

.footer-head__item {
  font-family: mono-rg;
  color: #676665;
  text-transform: uppercase;
  margin-right: 3.5rem;
  position: relative
}

.footer-head__item:last-child {
  margin-right: 0
}

.footer-head__item::before {
  border-radius: 100%;
  width: .7rem;
  height: .7rem;
  background-color: var(--primary-color);
  left: -2.2rem
}

.footer-body__wrapper {
  display: flex
}

.footer-body__left {
  width: 42%
}

.footer-social {
  border-radius: 1.4rem;
  padding: 3rem;
  height: 100%
}

.footer-social__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}

.footer-body .arrow-icon {
  background-color: #1f1f1f;
  border-color: #333;
  width: 4rem;
  height: 4rem
}

.footer-social__title {
  font-family: flex-md;
  color: var(--title-color);
  font-size: 2.6rem;
  text-transform: uppercase;
  margin-top: 6rem
}

.footer-social__description {
  margin-top: .5rem
}

.footer-body__right {
  width: 58%
}

.quick-links {
  border-radius: 2rem;
  display: flex;
  padding: 4rem;
  gap: 4rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.quick-links__category:nth-child(2) {
  margin-right: 3rem
}

.quick-links__title {
  font-family: mono-bld;
  font-size: 1.8rem;
  color: var(--title-color)
}

.quick-links__items {
  margin-top: 2rem
}

.quick-links__item {
  margin-top: 1.2rem;
  white-space: nowrap
}

.quick-links__item:first-child {
  margin-top: 0
}

.quick-links__link {
  color: #81807e
}

.quick-links__badge {
  background-color: #262626;
  border: .1rem solid #333;
  border-radius: .6rem;
  font-family: mono-rg;
  color: #ccc;
  padding: .4rem 1rem;
  margin-left: .8rem;
  font-size: 1.4rem
}

.newsletter {
  margin-top: 1rem;
  background-color: var(--section-bg-color);
  border-radius: 1.6rem;
  padding: 4rem;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.newsletter__text {
  font-family: mono-rg;
  text-transform: uppercase;
  color: #676665
}

.newsletter__title {
  font-family: flex-md;
  font-size: 2.4rem;
  color: var(--title-color);
  text-transform: uppercase;
  margin-top: .5rem
}

.newsletter__right {
  display: flex;
  gap: 1.5rem
}

.newsletter__input {
  background-color: inherit;
  outline: 0;
  border: none;
  border-bottom: .1rem solid #333;
  color: var(--title-color);
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  width: 80%
}

.newsletter__input::-webkit-input-placeholder {
  font-family: flex-rg;
  font-size: 1.4rem;
  color: #676665
}

.newsletter__input::-moz-placeholder {
  font-family: flex-rg;
  font-size: 1.4rem;
  color: #676665
}

.newsletter__input:-ms-input-placeholder {
  font-family: flex-rg;
  font-size: 1.4rem;
  color: #676665
}

.newsletter__input::-ms-input-placeholder {
  font-family: flex-rg;
  font-size: 1.4rem;
  color: #676665
}

.newsletter__input::placeholder {
  font-family: flex-rg;
  font-size: 1.4rem;
  color: #676665
}

.copy-right {
  margin-top: 1rem;
  background-color: var(--section-bg-color);
  border-radius: 1.6rem;
  padding: 4rem;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: mono-rg;
  font-size: 1.4rem
}

.copy-right__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 2rem
}

.copy-right__link {
  color: inherit;
  white-space: nowrap
}

.copy-right__link:first-child {
  position: relative
}

.copy-right__link:first-child::after {
  width: 2.5rem;
  height: .1rem;
  background-color: #232329;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: -2.3rem
}