@import 'fonts.css';
@import 'reset.css';
@import 'grid.css';

:root {
  --primary-color: #CE7D63;
  --section-bg-color: #1A1A1A;
  --title-color: #F9EFEC;
  --text-color: #B3B3B2;
  --dark-color: #0F0F0F;
}

/* 

  -- Reset Styles --

*/

a {
  text-decoration: none;
}

/* 

  -- Helper Classes --

*/

.radius-12 {
  border-radius: 1.2rem;
}

.radius-14 {
  border-radius: 1.4rem;
}

.radius-16 {
  border-radius: 1.6rem;
}

.radius-20 {
  border-radius: 2rem;
}

/* 

  -- Components --

*/

.arrow-icon {
  border-radius: 100%;
  width: 4.4rem;
  height: 4.4rem;
  background-color: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid #262626;
}

.arrow-icon__svg {
  width: 1.4rem;
}

/* 

  -- App --

*/

body {
  line-height: 1.6;
  font-size: 1.6rem;
  background-color: var(--dark-color);
  color: var(--text-color);
  font-family: "flex-rg", Arial, Helvetica, sans-serif;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

/* 

  -- Header --

*/

.header {}

.nav {
  background-color: var(--section-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 1.8rem 1.8rem 3.5rem;
  color: #81807E;
}

.nav__logo {}

.nav__svg {}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
}

.menu__item {
  border-radius: 1.2rem;
  padding: 1.2rem 2rem;
  background-color: var(--dark-color);
}

.menu__link {
  text-transform: uppercase;
  font-family: "mono-md";
  color: inherit;
}

.menu__item:last-child {
  background-color: var(--primary-color);
}

.menu__item:last-child .menu__link {
  color: var(--dark-color);
}

.menu__item--active {
  color: #E7BEB1;
}

.nav__toggle-icon {
  display: none;
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--dark-color);
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
}

.nav__toggle-line {
  position: relative;
}

.nav__toggle-line,
.nav__toggle-line::before,
.nav__toggle-line::after {
  width: 2rem;
  height: 0.16rem;
  background-color: #FFFFFF;
  border-radius: 2rem;
  transition: all 150ms ease-in;
}

.nav__toggle-line::before,
.nav__toggle-line::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
}

.nav__toggle-line::before {
  top: -0.6rem;
}

.nav__toggle-line::after {
  bottom: -0.6rem;
  width: 1rem;
}

.nav__toggle-line--clicked .nav__toggle-line::before {
  width: 1rem;
}

.nav__toggle-line--clicked .nav__toggle-line::after {
  width: 2rem;
}

.mobile-wrapper {
  position: fixed;
  top: 0;
  left: -25rem;
  bottom: 0;
  z-index: 100;
  background-color: var(--primary-color);
  width: 25rem;
  padding: 3rem 2rem;
  transition: all 150ms ease-in;
}

.mobile-wrapper .nav__logo {
  position: relative;
}

.nav__svg {}

.nav__close-icon {
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
  bottom: 0;
  width: 3rem;
  height: 3rem;
}

.section-line {
  background-color: var(--title-color);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  width: 100%;
  height: 0.2rem;
  position: relative;
}

.section-line::before,
.section-line::after {
  content: "";
  display: block;
  background-color: var(--title-color);
  width: 2.5rem;
  height: 0.15rem;
  position: absolute;
  border-radius: 2rem;
}

.section-line::before {
  top: -3.5rem;
  right: 0;
  transform: rotate(45deg);
}

.section-line::after {
  top: -3.5rem;
  right: 0;
  transform: rotate(-45deg);
}

.mobile-menu {
  margin-top: 2.5rem;
  color: peachpuff;
}

.mobile-menu__item {
  margin-top: 1rem;
  position: relative;
  transition: all 150ms ease-in;
}

.mobile-menu__item--active {
  color: var(--dark-color);
}

.mobile-menu__link {
  color: inherit;
  transition: all 150ms ease-in;
  position: relative;
}

.mobile-menu__link:hover {
  padding-left: 2.4rem;
}

.mobile-menu__link::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  width: 0;
  height: 0.3rem;
  background-color: peachpuff;
  border-radius: 2rem;
  transition: all 150ms ease-in;
}

.mobile-menu__link:hover::before {
  width: 1.8rem;
}

/* 

  -- Main --

*/

.main {
  margin-top: 1rem;
}

/* 

  -- Status top --

*/

.status {}

.status-top {}

.status-top__left {
  background-color: var(--section-bg-color);
  padding: 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.responsive-wrapper {}

.status-top__wrapper {
  padding: 7rem 2rem 2rem 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.status-top__title {
  font-family: 'flex-sm';
  font-size: 6rem;
  text-transform: uppercase;
  color: var(--title-color);
  max-width: 56rem;
}

.status-top__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 12.5rem;
  top: 1.5rem;
}

.status-top__icon {
  position: relative;
}

.status-top__svg {
  height: 6rem;
}

.status-top__shape {
  background-color: var(--primary-color);
  border-radius: 100%;
  width: 4.2rem;
  height: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1.6rem;
  top: 0.9rem;
}

.status-top__arrow {}

.status-top__link {
  font-family: 'flex-md';
  font-size: 2rem;
  color: var(--primary-color);
  text-transform: uppercase;
}

.status-top__description {
  padding-left: 5rem;
  padding-right: 2rem;
  color: #676665;
  max-width: 78rem;
  font-size: 1.4rem;
}

.status-top__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-color);
  padding: 1.5rem 0;
  font-family: 'mono-rg';
  overflow: hidden;
}

.status-top__item {
  color: #676665;
  text-transform: uppercase;
  position: relative;
}

.status-top__item::before {
  content: "";
  display: block;
  border-radius: 100%;
  width: 0.7rem;
  height: 0.7rem;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  left: -2.5rem;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.status-top__right {
  background-color: #1F1F1F;
  border-radius: 1.2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.status-top__picture {
  position: relative;
  height: 100%;
}

.status-top__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.2rem;
}

.img-notch {
  width: 9rem;
  height: 9rem;
  position: absolute;
  top: -1rem;
  right: -1rem;
  background-color: var(--dark-color);
  border-radius: 100%;
}

.img-notch__svg {
  position: absolute;
  left: 0.9rem;
  bottom: 0.9rem;
  width: 6rem;
  height: 7rem;
}

.img-notch__shape {
  background-color: var(--primary-color);
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1.6rem;
  right: 1.4rem;
}

.img-notch__arrow {
  width: 2.2rem;
  height: 2.2rem;
}

.status-top__text-wrapper {
  padding: 2rem;
}

.status-top__legend {
  font-family: 'flex-md';
  font-size: 2rem;
  color: var(--title-color);
  text-transform: uppercase;

}

.status-top__text {
  font-size: 1.4rem;
  margin-top: 0.2rem;
}

/* 

 -- Status Bottom --

*/

.status-bottom {
  margin-top: 1rem;
  border: 0.2rem solid #1f1f1f;
  text-align: center;
  padding: 1rem;
}

.status-bottom__wrapper {
  background-color: var(--section-bg-color);
  padding: 2rem 0 0.3rem;
}

.status-bottom .col-12:last-child .status-bottom__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  height: 100%;
  padding: 0;
}

.status-bottom__title,
.status-bottom__link {
  font-family: "mono-md";
  font-size: 1.2rem;
  text-transform: uppercase;
}

.status-bottom__link {
  color: inherit;
  font-size: 1.4rem;
}

.status-bottom .col-12:nth-child(5) .status-bottom__title {
  text-transform: none;
}

.status-bottom__digits {
  font-family: "flex-sm";
  color: #DA9E8B;
  font-size: 4rem;
}

/* 

  -- Benefits --

*/

.benefits {
  margin-top: 9rem;
}

.benefits__wrapper {
  border: 0.2rem solid #1F1F1F;
  border-radius: 2.4rem;
  padding: 1rem;
}

.benefits-head {
  background-color: var(--section-bg-color);
  padding: 3rem;
}

.benefits-head__title {
  font-family: "flex-sm";
  font-size: 3.6rem;
  color: var(--title-color);
  text-transform: uppercase;
}

.benefits-body {
  background-color: var(--section-bg-color);
  padding: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.benefits-body__title {
  font-family: "flex-md";
  font-size: 2.5rem;
  color: var(--title-color);
  text-transform: uppercase;
}

.benefits-body__description {
  margin-top: 1rem;
}

.benefits-body__btn {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 3rem;
}

.benefits-body__link {
  color: inherit;
}

/* 

  -- Services --

*/

.services {
  margin-top: 9rem;
}

.services__wrapper {
  border: 0.2rem solid #1F1F1F;
  border-radius: 2.4rem;
  padding: 1rem;
}

.services-head {
  background-color: var(--section-bg-color);
  padding: 3rem;
}

.services-head__title {
  font-family: "flex-sm";
  font-size: 3.6rem;
  color: var(--title-color);
  text-transform: uppercase;
}

.service {
  background-color: var(--section-bg-color);
  padding: 5rem;
}

.service__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.section-icon {
  width: 5rem;
  height: 5rem;
  background-color: #1F1F1F;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid #333333;
  border-radius: 1.2rem;
}

.section-icon__svg {
  width: 2.5rem;
  height: 2.5rem;
}

.service__title {
  font-family: "flex-md";
  font-size: 2.5rem;
  color: var(--title-color);
  text-transform: uppercase;
}

.service__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}

.services .arrow-icon {
  background-color: #1F1F1F;
}

.service__link {
  font-family: "mono-md";
  color: var(--text-color);
  text-transform: uppercase;
}

.service__body {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

.service__description {}

.service__price {
  font-family: "flex-md";
  color: var(--title-color);
  font-size: 2.5rem;
  text-transform: uppercase;
}