@import 'fonts.css';
@import 'reset.css';
@import 'grid.css';

:root {
  --primary-color: #CE7D63;
  --section-bg-color: #1A1A1A;
  --title-color: #F9EFEC;
  --text-color: #B3B3B2;
  --dark-color: #0F0F0F;
}

/* 

  -- Reset Styles --

*/

a {
  text-decoration: none;
}

/* 

  -- App --

*/

body {
  line-height: 1.6;
  font-size: 1.6rem;
  background-color: var(--dark-color);
  color: var(--text-color);
  font-family: "flex-rg", Arial, Helvetica, sans-serif;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

/* 

  -- Header --

*/

.header {}

.nav {
  background-color: var(--section-bg-color);
  border-radius: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 1.8rem 1.8rem 3.5rem;
  color: #81807E;
}

.nav__logo {}

.nav__svg {}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
}

.menu__item {
  border-radius: 1.2rem;
  padding: 1.2rem 2rem;
  background-color: var(--dark-color);
}

.menu__link {
  text-transform: uppercase;
  font-family: "mono-md";
  color: inherit;
}

.menu__item:last-child {
  background-color: var(--primary-color);
}

.menu__item:last-child .menu__link {
  color: var(--dark-color);
}

.menu__item--active {
  color: #E7BEB1;
}

.nav__toggle-icon {
  display: none;
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--dark-color);
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
}

.nav__toggle-line {
  position: relative;
}

.nav__toggle-line,
.nav__toggle-line::before,
.nav__toggle-line::after {
  width: 2rem;
  height: 0.16rem;
  background-color: #FFFFFF;
  border-radius: 2rem;
  transition: all 150ms ease-in;
}

.nav__toggle-line::before,
.nav__toggle-line::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
}

.nav__toggle-line::before {
  top: -0.6rem;
}

.nav__toggle-line::after {
  bottom: -0.6rem;
  width: 1rem;
}

.nav__toggle-line--clicked .nav__toggle-line::before {
  width: 1rem;
}

.nav__toggle-line--clicked .nav__toggle-line::after {
  width: 2rem;
}

.mobile-wrapper {
  position: fixed;
  top: 0;
  left: -25rem;
  bottom: 0;
  background-color: var(--primary-color);
  width: 25rem;
  padding: 3rem 2rem;
  transition: all 150ms ease-in;
}

.mobile-wrapper .nav__logo {
  position: relative;
}

.nav__svg {}

.nav__close-icon {
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
  bottom: 0;
  width: 3rem;
  height: 3rem;
}

.section-line {
  background-color: var(--title-color);
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  width: 100%;
  height: 0.2rem;
  position: relative;
}

.section-line::before,
.section-line::after {
  content: "";
  display: block;
  background-color: var(--title-color);
  width: 2.5rem;
  height: 0.15rem;
  position: absolute;
  border-radius: 2rem;
}

.section-line::before {
  top: -3.5rem;
  right: 0;
  transform: rotate(45deg);
}

.section-line::after {
  top: -3.5rem;
  right: 0;
  transform: rotate(-45deg);
}

.mobile-menu {
  margin-top: 2.5rem;
  color: peachpuff;
}

.mobile-menu__item {
  margin-top: 1rem;
  position: relative;
  transition: all 150ms ease-in;
}

.mobile-menu__item--active {
  color: var(--dark-color);
}

.mobile-menu__link {
  color: inherit;
  transition: all 150ms ease-in;
  position: relative;
}

.mobile-menu__link:hover {
  padding-left: 2.4rem;
}

.mobile-menu__link::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  width: 0;
  height: 0.3rem;
  background-color: peachpuff;
  border-radius: 2rem;
  transition: all 150ms ease-in;
}

.mobile-menu__link:hover::before {
  width: 1.8rem;
}

/* 

  -- Main --

*/