@font-face {
    font-family: "flex-rg";
    src: url("/fonts/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "flex-md";
    src: url("/fonts/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "flex-sm";
    src: url("/fonts/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "flex-bld";
    src: url("/fonts/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "mono-rg";
    src: url("/fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "mono-md";
    src: url("/fonts/RobotoMono-VariableFont_wght.ttf") format("truetype");
    font-weight: 500;
}