@media screen and (min-width: 1510px) {
    .container {
        width: 1466px;
    }
}

@media screen and (max-width: 1500px) {
    .status-top__wrapper {
        padding-top: 5rem;
        padding-left: 4rem;
    }

    .status-top__btn {
        top: 0.5rem;
        right: 5.5rem;
    }

    .status-top__description {
        max-width: 70rem;
        padding-left: 4rem;
    }

    .status-top__link {
        white-space: nowrap;
        font-size: 1.8rem;
    }

    .status-top__items {
        white-space: nowrap;
        padding: 1rem 0;
        font-size: 1.4rem;
        gap: 3rem;
    }

    .status-top__item::before {
        left: -2rem;
    }

    .status-top__legend {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 1350px) {
    .status-top__title {
        max-width: 50rem;
        font-size: 4.5rem;
    }

    .status-top__btn {
        top: 0.5rem;
        right: 6.5rem;
    }
}

@media screen and (max-width: 1200px) {
    .nav__svg {
        width: 12rem;
    }

    .menu__item {
        padding: 0.8rem 1.6rem;
    }

    .menu__link {
        font-size: 1.4rem;
    }

    .status-top__wrapper {
        padding-top: 3.5rem;
        padding-left: 3rem;
    }

    .status-top__title {
        font-size: 3.5rem;
    }

    .status-top__btn {
        right: 4.5rem;
    }

    .status-top__svg {
        height: 4.5rem;
    }

    .status-top__arrow {
        width: 1.5rem;
    }

    .status-top__shape {
        width: 3.2rem;
        height: 3.2rem;
        left: 2rem;
        top: 0.65rem;
    }

    .status-top__link {
        white-space: nowrap;
        font-size: 1.6rem;
        position: relative;
        right: 1rem;
        bottom: 0.5rem;
    }

    .status-top__description {
        max-width: 60rem;
        padding-left: 3rem;
    }

    .status-top__items {
        white-space: nowrap;
        padding: 1rem 0;
        font-size: 1.4rem;
        gap: 3rem;
    }

    .status-top__legend {
        font-size: 1.6rem;
    }

    .status-top__text {
        font-size: 1.4rem;
    }

    .status-bottom__digits {
        font-size: 3rem;
    }

    .status-bottom__link {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1140px) {
    .status-top__btn {
        right: 0.5rem;
    }
}

@media screen and (max-width: 992px) {
    .nav__svg {
        width: 10rem;
    }

    .menu__item {
        padding: 0.6rem 1.4rem;
    }

    .menu__item:last-child {
        display: none;
    }

    .menu__link {
        font-size: 1.3rem;
    }

    .status-top__items {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 991.5px) {
    .status-top .col-lg-4 {
        display: none;
    }

    .responsive-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .status-top__btn {
        right: 0;
    }

    .status-top__description {
        max-width: 75rem;
    }
}

@media screen and (max-width: 803px) {
    .status-top__btn {
        right: 7rem;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .nav__toggle-icon {
        display: flex;
    }

    .status-top__title {
        font-size: 2.5rem;
    }

    .status-top__wrapper {
        padding-top: 2rem;
    }

    .status-top__btn {
        top: -0.5rem;
        right: 1rem;
    }

    .status-bottom__wrapper {
        padding-top: 1.2rem;
    }

    .status-bottom .col-12:last-child .status-bottom__wrapper {
        height: 8.2rem;
    }
}

@media screen and (min-width: 769px) {
    .mobile-wrapper {
        display: none;
    }
}

@media screen and (max-width: 684px) {
    .status-top__btn {
        right: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .status-top__btn {
        right: 4rem;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 92%;
    }

    .status-top__wrapper {
        flex-direction: column;
        padding-top: 1rem;
        padding-left: 1rem;
    }

    .status-top__btn {
        right: 2rem;
        top: 1rem;
    }

    .status-top__description {
        padding-left: 1rem;
    }

    .status-top__items {
        border-radius: 0.8rem;
        margin-top: 3rem;
    }
}