@media screen and (min-width: 1510px) {
    .container {
        width: 1466px;
    }
}

@media screen and (max-width: 1500px) {
    .status-top__wrapper {
        padding-top: 5rem;
        padding-left: 4rem;
    }

    .status-top__btn {
        top: 0.5rem;
        right: 5.5rem;
    }

    .status-top__description {
        max-width: 70rem;
        padding-left: 4rem;
    }

    .status-top__link {
        white-space: nowrap;
        font-size: 1.8rem;
    }

    .status-top__items {
        white-space: nowrap;
        padding: 1rem 0;
        font-size: 1.4rem;
        gap: 3rem;
    }

    .status-top__item::before {
        left: -2rem;
    }

    .status-top__legend {
        font-size: 1.8rem;
    }

    .benefits-body__title,
    .service__title,
    .service__price {
        font-size: 2rem;
    }

    .ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
    }
}

@media screen and (max-width: 1350px) {
    .status-top__title {
        max-width: 50rem;
        font-size: 4.5rem;
    }

    .status-top__btn {
        top: 0.5rem;
        right: 6.5rem;
    }
}

@media screen and (max-width: 1200px) {
    .nav__svg {
        width: 12rem;
    }

    .menu__item {
        padding: 0.8rem 1.6rem;
    }

    .menu__link {
        font-size: 1.4rem;
    }

    .status-top__wrapper {
        padding-top: 3.5rem;
        padding-left: 3rem;
    }

    .status-top__title {
        font-size: 3.5rem;
    }

    .status-top__btn {
        right: 4.5rem;
    }

    .status-top__svg {
        height: 4.5rem;
    }

    .status-top__arrow {
        width: 1.5rem;
    }

    .status-top__shape {
        width: 3.2rem;
        height: 3.2rem;
        left: 2rem;
        top: 0.65rem;
    }

    .status-top__link {
        white-space: nowrap;
        font-size: 1.6rem;
        position: relative;
        right: 1rem;
        bottom: 0.5rem;
    }

    .status-top__description {
        max-width: 60rem;
        padding-left: 3rem;
    }

    .status-top__items {
        white-space: nowrap;
        padding: 1rem 0;
        font-size: 1.4rem;
        gap: 3rem;
    }

    .status-top__legend {
        font-size: 1.6rem;
    }

    .status-top__text {
        font-size: 1.4rem;
    }

    .status-bottom__digits {
        font-size: 3rem;
    }

    .status-bottom__link {
        font-size: 1.2rem;
    }

    .benefits-head__title,
    .services-head__title {
        font-size: 3rem;
    }

    .benefits-body {
        padding: 2rem;
    }

    .benefits-body__description {
        margin-top: 2rem;
    }

    .service {
        padding: 4rem;
    }

    .service__description {
        height: 10.2rem;
    }

    .works-body__middle {
        flex-shrink: unset;
        width: auto;
    }

    .works-head__title {
        font-size: 3rem;
    }

    .works-techs {
        display: none;
    }

    .works-team {
        margin-top: 0;
    }

    .works-team__members {
        max-width: 9rem;
    }
}

@media screen and (max-width: 1140px) {
    .status-top__btn {
        right: 0.5rem;
    }
}

@media screen and (max-width: 992px) {
    .nav__svg {
        width: 10rem;
    }

    .menu__item {
        padding: 0.6rem 1.4rem;
    }

    .menu__item:last-child {
        display: none;
    }

    .menu__link {
        font-size: 1.3rem;
    }

    .status-top__items {
        margin-top: 4rem;
    }

    .benefits {
        margin-top: 6rem;
    }

    .services {
        margin-top: 6rem;
    }

    .service {
        padding: 3rem;
    }

    .works {
        margin-top: 6rem;
    }

    .works-body {
        gap: 0;
    }

    .works-body__left {
        flex-shrink: unset;
        flex-basis: 50%;
        padding: 3rem 2rem;
        gap: 2rem;
    }

    .works-body__middle {
        margin-left: 1rem;
        flex-basis: 50%;
    }

    .works-team {
        display: none;
    }

    .works .section-btn {
        display: none;
    }
}

@media screen and (max-width: 991.5px) {
    .status-top .col-lg-4 {
        display: none;
    }

    .responsive-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .status-top__btn {
        right: 0;
    }

    .status-top__description {
        max-width: 75rem;
    }

    .benefits .col-12:last-child .benefits-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .benefits-body__title {
        height: 8rem;
    }

    .benefits .col-12:last-child .benefits-body__title,
    .benefits .col-12:last-child .benefits-body__description {
        height: auto;
    }
}

@media screen and (max-width: 810px) {
    .service__right {
        display: none;
    }

    .service__body {
        flex-direction: column-reverse;
        align-items: stretch;
        gap: 1rem;
    }

    .services .section-btn {
        display: block;
    }
}

@media screen and (max-width: 803px) {
    .status-top__btn {
        right: 7rem;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .nav__toggle-icon {
        display: flex;
    }

    .status-top__title {
        font-size: 2.5rem;
    }

    .status-top__wrapper {
        padding-top: 2rem;
    }

    .status-top__btn {
        top: -0.5rem;
        right: 1rem;
    }

    .status-bottom__wrapper {
        padding-top: 1.2rem;
    }

    .status-bottom .col-12:last-child .status-bottom__wrapper {
        height: 8.2rem;
    }

    .benefits .col-12:last-child .benefits-body {
        align-items: stretch;
    }

    .benefits .col-12:last-child .benefits-body__title {
        height: 8rem;
    }

    .benefits .col-12:last-child .benefits-body__description {
        height: 10rem;
    }

    .service {
        padding: 2rem;
    }

    .service__description {
        height: 16rem;
    }

    .works-head__link {
        font-size: 1.4rem;
    }

    .works-body__details {
        position: absolute;
        left: 2rem;
        bottom: 3rem;
    }

    .works-body__link {
        font-size: 1.4rem;
    }

    .works-body__description {
        height: 13rem;
    }
}

@media screen and (min-width: 769px) {
    .mobile-wrapper {
        display: none;
    }
}

@media screen and (max-width: 684px) {
    .status-top__btn {
        right: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .status-top__btn {
        right: 4rem;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 92%;
    }

    .status-top__wrapper {
        flex-direction: column;
        padding-top: 1rem;
        padding-left: 1rem;
    }

    .status-top__btn {
        right: 2rem;
        top: 1rem;
    }

    .status-top__description {
        padding-left: 1rem;
    }

    .status-top__items {
        border-radius: 0.8rem;
        margin-top: 3rem;
    }

    .benefits {
        margin-top: 4rem;
    }

    .benefits-head__title,
    .services-head__title {
        font-size: 2.5rem;
    }

    .benefits-body__title {
        height: auto;
    }

    .benefits .col-12:last-child .benefits-body__title {
        height: auto;
    }

    .benefits-body__btn {
        margin-top: 0;
    }

    .benefits-body__link {
        font-size: 1.4rem;
    }

    .services {
        margin-top: 4rem;
    }

    .service__body {
        margin-top: 1.5rem;
    }

    .services .section-btn {
        margin-top: 0;
    }

    .works-wrapper {
        padding: 1rem;
        border: 0.2rem solid #1F1F1F;
    }

    .works {
        margin-top: 4rem;
    }

    .works-head__title {
        font-size: 2.5rem;
    }

    .works-head__icon {
        display: none;
    }

    .works-body {
        flex-direction: column-reverse;
    }

    .works-body__left {
        margin-top: 0.5rem;
        padding: 2rem;
    }

    .works-body__details {
        bottom: 2rem;
    }

    .works-body__middle {
        margin-left: 0;
    }

    .all-works {
        display: flex;
    }
}

@media screen and (max-width: 380px) {
    .works-lable__item {
        width: 20rem;
    }

    .works-body__description {
        height: 15rem;
    }
}