/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media screen and (min-width: 1510px) {
    .container {
        width: 1466px;
    }
}

@media screen and (max-width: 1500px) {
    .status-top__wrapper {
        padding-top: 5rem;
        padding-left: 4rem;
    }

    .status-top__btn {
        top: 0.5rem;
        right: 5.5rem;
    }

    .status-top__description {
        max-width: 70rem;
        padding-left: 4rem;
    }

    .status-top__link {
        white-space: nowrap;
        font-size: 1.8rem;
    }

    .status-top__items {
        font-size: 1.4rem;
    }

    .status-top__legend {
        font-size: 1.8rem;
    }

    .benefits-body__title,
    .service__title,
    .service__price {
        font-size: 2rem;
    }

    .ellipsis {
        overflow: hidden;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: block;
    }

    .testimonials-body__bottom {
        padding: 2rem;
    }

    .footer-head__title {
        font-size: 4rem;
    }

    .footer-head__description {
        max-width: 81rem;
    }

    .footer-head__items {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1350px) {
    .status-top__title {
        max-width: 50rem;
        font-size: 4.5rem;
    }

    .status-top__btn {
        top: 0.5rem;
        right: 6.5rem;
    }
}

@media screen and (max-width: 1200px) {
    .nav__svg {
        width: 12rem;
    }

    .menu__item {
        padding: 0.8rem 1.6rem;
    }

    .menu__link {
        font-size: 1.4rem;
    }

    .status-top__wrapper {
        padding-top: 3.5rem;
        padding-left: 3rem;
    }

    .status-top__title {
        font-size: 3.5rem;
    }

    .status-top__btn {
        right: 4.5rem;
    }

    .status-top__svg {
        height: 4.5rem;
    }

    .status-top__arrow {
        width: 1.5rem;
    }

    .status-top__shape {
        width: 3.2rem;
        height: 3.2rem;
        left: 2rem;
        top: 0.65rem;
    }

    .status-top__link {
        white-space: nowrap;
        font-size: 1.6rem;
        position: relative;
        right: 1rem;
        bottom: 0.5rem;
    }

    .status-top__description {
        max-width: 60rem;
        padding-left: 3rem;
    }

    .status-top__item {
        margin-right: 2.5rem;
    }

    .status-top__item::before {
        left: -1.6rem;
    }

    .status-top__legend {
        font-size: 1.6rem;
    }

    .status-top__text {
        font-size: 1.4rem;
    }

    .status-bottom__digits {
        font-size: 3rem;
    }

    .status-bottom__link {
        font-size: 1.2rem;
    }

    .benefits-head__title,
    .services-head__title {
        font-size: 3rem;
    }

    .benefits-body {
        padding: 2rem;
    }

    .benefits-body__description {
        margin-top: 2rem;
    }

    .service {
        padding: 4rem;
    }

    .service__description {
        height: 10.2rem;
    }

    .works-body__middle {
        -ms-flex-negative: unset;
        flex-shrink: unset;
        width: auto;
    }

    .works-head__title {
        font-size: 3rem;
    }

    .works-techs {
        display: none;
    }

    .works-team {
        margin-top: 0;
    }

    .works-team__members {
        max-width: 9rem;
    }

    .testimonilas-head__title {
        font-size: 3rem;
    }

    .testimonials .testimonials-body .arrow-icon {
        display: none;
    }

    .questions-head__title {
        font-size: 3rem;
    }

    .question-body__item {
        height: 10rem;
        padding: 3rem;
    }

    .question-body__item--open {
        height: 19rem;
    }

    .question-form {
        padding: 3rem;
    }

    .questions .section-btn {
        margin-top: 3rem;
    }

    .footer-head__wrapper {
        padding: 4.5rem;
    }

    .footer-head__title {
        font-size: 3.5rem;
    }

    .footer-head__description {
        max-width: 64rem;
    }

    .footer-head__item {
        margin-right: 2.5rem;
    }

    .footer-head__item::before {
        left: -1.6rem;
    }

    .footer-social {
        padding: 2.5rem;
    }

    .footer-social__title {
        font-size: 2.2rem;
        margin-top: 4rem;
    }

    .quick-links {
        padding: 3rem;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .newsletter {
        padding: 3rem;
    }

    .copy-right {
        padding: 3rem;
    }
}

@media screen and (max-width: 1140px) {
    .status-top__btn {
        right: 0.5rem;
    }
}

@media screen and (max-width: 992px) {
    .nav__svg {
        width: 10rem;
    }

    .menu__item {
        padding: 0.6rem 1.4rem;
    }

    .menu__item:last-child {
        display: none;
    }

    .menu__link {
        font-size: 1.3rem;
    }

    .status-top__scroll-animation {
        margin-top: 4rem;
    }

    .benefits {
        margin-top: 6rem;
    }

    .services {
        margin-top: 6rem;
    }

    .service {
        padding: 3rem;
    }

    .works {
        margin-top: 6rem;
    }

    .works-body {
        gap: 0;
    }

    .works-body__left {
        -ms-flex-negative: unset;
        flex-shrink: unset;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        padding: 3rem 2rem;
        gap: 2rem;
    }

    .works-body__middle {
        margin-left: 1rem;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }

    .works-team {
        display: none;
    }

    .works .section-btn {
        display: none;
    }

    .testimonials {
        margin-top: 6rem;
    }

    .questions {
        margin-top: 6rem;
    }

    .question-body__item {
        padding: 2rem;
    }

    .question-body__item--open {
        height: 20rem;
    }

    .question-body__title {
        max-width: 39rem;
    }

    .question-form {
        padding: 2.5rem;
    }

    .question-form__title::before {
        bottom: -2.5rem;
    }

    .question-form__wrapper {
        margin-top: 5rem;
    }

    .question-form__input,
    .question-form__area {
        padding: 1.2rem;
    }

    .footer {
        margin-top: 6rem;
    }

    .footer-head__wrapper {
        padding: 3.5rem;
    }

    .footer-head__right {
        width: 17rem;
        height: 4rem;
    }

    .footer-head__link {
        font-size: 1.2rem;
    }

    .footer-head__svg {
        width: 1.2rem;
    }

    .footer-body__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer-body__left {
        width: 100%;
    }

    .footer-body__right {
        width: 100%;
    }
}

@media screen and (max-width: 991.5px) {
    .status-top .col-lg-4 {
        display: none;
    }

    .responsive-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .status-top__btn {
        right: 0;
    }

    .status-top__description {
        max-width: 75rem;
    }

    .benefits-body__title {
        height: 8rem;
    }

    .benefits .col-12:last-child .benefits-body__title,
    .benefits .col-12:last-child .benefits-body__description {
        height: auto;
    }
}

@media screen and (max-width: 810px) {
    .service__right {
        display: none;
    }

    .service__body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        gap: 1rem;
    }

    .services .section-btn {
        display: block;
    }
}

@media screen and (max-width: 803px) {
    .status-top__btn {
        right: 7rem;
    }
}

@media screen and (max-width: 768px) {
    .nav {
        padding-left: 2.5rem;
    }

    .menu {
        display: none;
    }

    .nav__toggle-icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .status-top__title {
        font-size: 2.5rem;
    }

    .status-top__wrapper {
        padding-top: 2rem;
    }

    .status-top__btn {
        top: -0.5rem;
        right: 1rem;
    }

    .status-bottom__wrapper {
        padding-top: 1.2rem;
    }

    .status-bottom .col-12:last-child .status-bottom__wrapper {
        height: 8.2rem;
    }

    .benefits-head {
        padding: 2.5rem;
    }

    .benefits .col-12:last-child .benefits-body {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    .benefits .col-12:last-child .benefits-body__title {
        height: 8rem;
    }

    .benefits .col-12:last-child .benefits-body__description {
        height: 10rem;
    }

    .services-head {
        padding: 2.5rem;
    }

    .service {
        padding: 2rem;
    }

    .service__description {
        height: 16rem;
    }

    .works-head {
        padding: 2.5rem;
    }

    .works-head__link {
        font-size: 1.4rem;
    }

    .works-body__details {
        position: absolute;
        left: 2rem;
        bottom: 3rem;
    }

    .works-body__link {
        font-size: 1.4rem;
    }

    .works-body__description {
        height: 13rem;
    }

    .testimonials-head {
        padding: 2.5rem;
    }

    .testimonials-body__top {
        padding: 2rem;
    }

    .questions-head {
        padding: 2.5rem;
    }

    .questions-body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    .question-body__title {
        max-width: 43rem;
    }

    .question-body__item--open {
        height: 19rem;
    }

    .footer-head__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 3rem;
    }

    .footer-head__title {
        font-size: 3rem;
        max-width: 65rem;
    }

    .footer-head__right {
        width: 100%;
        margin-top: 2rem;
    }

    .footer-head__description {
        margin-top: 0.5rem;
    }

    .newsletter {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        gap: 1rem;
    }

    .copy-right {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 1.5rem;
    }
}

@media screen and (min-width: 769px) {
    .mobile-wrapper {
        display: none;
    }
}

@media screen and (max-width: 684px) {
    .status-top__btn {
        right: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .status-top__btn {
        right: 4rem;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 92%;
    }

    .nav {
        padding: 1.5rem;
    }

    .status-top__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-top: 1rem;
        padding-left: 1rem;
    }

    .status-top__btn {
        right: 2rem;
        top: 1rem;
    }

    .status-top__description {
        padding-left: 1rem;
    }

    .status-top__scroll-animation {
        margin-top: 3rem;
        border-radius: 0.8rem;
    }

    .status-top__items {
        font-size: 1.2rem;
    }

    .benefits {
        margin-top: 4rem;
    }

    .benefits-head {
        padding: 2rem;
    }

    .benefits-head__title,
    .services-head__title {
        font-size: 2.5rem;
    }

    .benefits-body__title {
        height: auto;
    }

    .benefits .col-12:last-child .benefits-body__title {
        height: auto;
    }

    .benefits-body__btn {
        margin-top: 0;
    }

    .benefits-body__link {
        font-size: 1.4rem;
    }

    .services {
        margin-top: 4rem;
    }

    .services-head {
        padding: 2rem;
    }

    .service__body {
        margin-top: 1.5rem;
    }

    .services .section-btn {
        margin-top: 0;
    }

    .works-wrapper {
        padding: 1rem;
        border: 0.2rem solid #1F1F1F;
    }

    .works {
        margin-top: 4rem;
    }

    .works-head {
        padding: 2rem;
    }

    .works-head__title {
        font-size: 2.5rem;
    }

    .works-head__icon {
        display: none;
    }

    .works-body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .works-body__left {
        margin-top: 0.5rem;
        padding: 2rem;
    }

    .works-body__details {
        bottom: 2rem;
    }

    .works-body__middle {
        margin-left: 0;
    }

    .all-works {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .testimonials {
        margin-top: 4rem;
    }

    .testimonials-head {
        padding: 2rem;
    }

    .testimonilas-head__title {
        font-size: 2.5rem;
    }

    .testimonials-head__icon {
        display: none;
    }

    .testimonials .testimonials-body .arrow-icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .testimonials-body__description {
        max-width: 31rem;
    }

    .all-testimonials {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .questions {
        margin-top: 4rem;
    }

    .questions-head {
        padding: 2rem;
    }

    .questions-head__title {
        font-size: 2.5rem;
    }

    .questions-head__icon {
        display: none;
    }

    .question-body__item--open {
        height: 21rem;
    }

    .question-body__title {
        max-width: 30rem;
    }

    .question-form__title {
        font-size: 1.8rem;
    }

    .question-form__title::before {
        bottom: -1.5rem;
    }

    .question-form__wrapper {
        margin-top: 3rem;
    }

    .question-form__lable {
        margin-top: 1rem;
    }

    .questions .section-btn {
        margin-top: 2rem;
    }

    .footer {
        margin-top: 4rem;
    }

    .footer-head__wrapper {
        padding: 2.5rem;
    }

    .footer-head__title {
        font-size: 2.5rem;
    }

    .footer-head__right {
        margin-top: 1.5rem;
    }

    .footer-head__scroll-animation {
        border-radius: 0.8rem;
    }

    .footer-head__items {
        font-size: 1.2rem;
    }

    .footer-body__left .arrow-icon {
        display: none;
    }

    .footer-social {
        padding: 0;
        background: none;
    }

    .footer-social__top {
        display: block;
    }

    .footer-body__left .section-icon {
        width: 100%;
    }

    .footer-social__title {
        display: none;
    }

    .footer-social__description {
        display: none;
    }

    .quick-links {
        padding: 2.5rem;
    }

    .quick-links__items {
        margin-top: 1rem;
    }

    .quick-links__item {
        margin-top: 1rem;
    }

    .quick-links__link {
        font-size: 1.4rem;
    }

    .quick-links__badge {
        font-size: 1.2rem;
    }

    .newsletter {
        padding: 2.5rem;
    }

    .newsletter__title {
        font-size: 2rem;
    }

    .newsletter__text {
        font-size: 1.4rem;
    }

    .copy-right {
        padding: 2.5rem;
    }

    .copy-right__description {
        white-space: nowrap;
    }

    .copy-right__links {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 4rem;
    }

    .copy-right__link:first-child::after {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        top: 4.2rem;
        left: -10rem;
        right: -10rem;
        margin: auto;
        width: 150%;
    }

    .section-icon {
        border-radius: 1rem;
    }

    .quick-links {
        border-radius: 1.4rem;
    }

    .newsletter {
        border-radius: 1.4rem;
    }

    .copy-right {
        border-radius: 1.4rem;
    }

    .footer-head__wrapper {
        border-radius: 1.4rem;
    }

    .question-form {
        border-radius: 1.2rem;
    }

    .status-top__left {
        border-radius: 1.2rem;
    }
}

@media screen and (max-width: 430px) {
    .question-body__title {
        max-width: 22rem;
    }

    .question-body__item {
        height: 12rem;
    }

    .question-body__item--open {
        height: 25rem;
    }
}

@media screen and (max-width: 400px) {
    .works-lable__item {
        width: 20rem;
    }

    .works-body__description {
        height: 15rem;
    }
}